.profile__edit-button {
    margin: 5px 0px 0px 16px;
    padding: 0px;
    max-width: 24px;
    min-height: 24px;
    border: 1px solid #FFFFFF;
    background: url(../../../images/Pen.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
    background-size: 10px;
    object-fit: contain;
}

@media screen and (max-width: 620px) {
    .profile__edit-button {
        background-size: 7px;
        width: 18px;
        height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    transition: 1s linear 0.5s;
}