.profile__edit-button {
    margin-top: 36px;
    margin-left: 244px;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background: url(../../../images/Pen.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center center;
    background-size: 10px;
    object-fit: contain;
}

@media screen and (max-width: 620px) {
    .profile__edit-button {
        margin: 31px 16px 6px 3px;
        padding: 11px;
        background-size: 7px;
        max-width: 18px;
        min-height: 18px;
    }
}

.profile__edit-button:hover {
    opacity: .6;
    transition: 1s linear 0.5s;
}