.button{
  margin: 0;
  padding: 0;
}



.button__edit{

  width: 24px;
  height: 24px;
background: url(./images/Rectangle.png);
background-repeat: no-repeat;
background-origin: content-box;
background-position: top;
object-fit: contain;
padding:19px 0px 0px 22px;
}



@media screen and (max-width: 620px) {
.button__edit{
  padding: 30px 17px 7px 10px;
width: 18px;
height: 18px;
}
}




.button__edit:hover{
  opacity: .6;
  transition: 1s linear 0.5s;
}

.pen{
  width: 10px;
  height: 10px;
  padding: 7px 6px 0 8px;
}

@media screen and (max-width: 620px) {
.pen {
  width: 7px;
  height: 7px;
  padding: 6px 10px 0 0px;
}
}



.pen:hover{
  opacity: .6;
  transition: 1s linear 0.5s;
}

.profile__edit{
  display: flex;
  flex-direction: row;
}


.button__add{

  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  margin-top: 70px;
}
.button__add:hover{
  opacity: .6;
  transition: 1s linear 0.5s;
}

@media screen and (max-width: 320px) {
  .button__add {
    width: 282px;
    margin-top: 31px;
  }
}

.plus{
  margin: 0 auto;
  max-width: 22px;
  min-height: 22px;
  padding: 13px 0 0 0;
  display: flex;
  align-items: center;
}

.plus:hover{
  opacity: .6;
  transition: 1s linear 0.5s;
}

@media screen and (max-width: 320px) {
  .plus {
    max-width: 17px;
    min-height: 17px;
    display: flex;
    align-items: center;
  }
}






.container {
  position: relative;
  padding: 25px 20px 24px 21px;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.gallery__img{
  width: 100%;
  min-height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  overflow: hidden;
}

.like{
  min-height: 19px;
  max-width: 22px;
  object-fit: contain;

}

.like:hover{
  opacity: .5;
  transition: 1s linear 0.5s;
}

.like:active{
  background-image: url(./images/like-active.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  object-fit: contain;
  min-height: 22px;
  max-width: 22px;
  opacity: 1;
}


.place__title {
  margin: 0;
  padding: 0;
  max-width: 246px;
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.popup{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  display: none;
}

.popup__content{
  margin: 0px;
  width: 430px;
  min-height: 330px;
  padding: 34px 0px 0px 36px;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  margin: 195px 425px;
  position: relative;
}

@media screen and (max-width: 320px) {
  .popup__content {
    max-width: 282px;
    min-height: 322px;
    padding: 22px 22px; 
    margin: 123px 19px;
  }
}



.form-title{
  margin: 0px;
  padding: 0px 0px 43px 0px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 330px;
}

@media screen and (max-width: 320px) {
  .form-title{
    padding: 4px 0px 71px 0px;
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;    
  }
}

.subtitle{
  max-width: 358px;
  min-height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

@media screen and (max-width: 320px) {
  .subtitle{
    max-width: 238px;
  }
}

.form__subtitle{
  margin: 0px 0 30px 0;
  width: 358px;
  height: 27px;
  border: none;
  padding-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .form__subtitle{
    width: 238px;
  }
}


.action-button{
    margin: 22px 0px 37px 0px;
    max-width: 358px;
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
}

@media screen and (max-width: 320px) {
  .action-button{
    margin-top: 15px;
    margin-bottom: 25px;
    width: 238px;
    height: 46px;
    border-radius: 2px;
  }
}

.action-button:hover{
  opacity: .6;
  transition: 1s linear 0.5s;
}


.action-button__text{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 320px) {
  .action-button__text{
    font-size: 14px;
    line-height: 17px;
  }
}

.popup__close-button{
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(images/popup__close-button.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .popup__close-button{
    position: absolute;
    top: -36px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px;
  }
}

.popup__close-button:hover{
  opacity: .6;
  transition: 1s linear 0.5s;
}


.popup_opened{
  display: block;
}