.header {
  margin: 0 auto;
  padding: 45px 0 41px 200px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px 0 70px 27px;
    max-width: 288px;
  }
}

.avatar{
    display: flex;
    flex-direction: row;
}

.profile__photo {
    border-radius: 100%;
    max-width: 168.75px;
    min-height: 127.5px;
    padding: 0 23px 5px 23px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    padding-left: 45px;
}

.profile__name{
  margin: 0;
  padding: 0;
  padding-top: 22px;
    max-width: 294px;
    min-height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

.profile__description{
  margin: 0;
  padding: 0;
    max-width: 336px;
    min-height: 18px;
    padding-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; 
}

.edit-button{

  max-width: 24px;
  min-height: 24px;
background: url(./images/Rectangle.png);
background-repeat: no-repeat;
background-origin: content-box;
background-position: top;
object-fit: contain;
padding:37px 10px 0 25px;
}

.pen{
  max-width: 10px;
  min-height: 10px;
  padding: 7px 6px 0 8px;
}

.profile{
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  min-height: 120px;
}

.add-button__plus{

  max-width: 150px;
  min-height: 50px;
background: url(./images/Rectangle-2.png);
background-repeat: no-repeat;
background-origin: content-box;
background-position: top;
object-fit: contain;
padding: 52px 73px 0 66px;
}

.plus{
  max-width: 22px;
  min-height: 2px;
  padding: 13px 0 0 0;
}










.gallery__cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.gallery__cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  position: relative;
  padding: 25px 20px 30px 21px;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.gallery__img{
  width: 100%;
  min-height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  overflow: hidden;
}

.like{
  min-height: 19px;
  max-width: 22px;
  object-fit: contain;
  padding-top: 8px;
}

.like:hover{
  opacity: .5;
}

.like:active{
  background-image: url(./images/like-active.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-origin: border-box;
  object-fit: contain;
  min-height: 19px;
  max-width: 22px;
  padding-top: 8px;
  opacity: 1;
}


.place__title {
  margin: 0;
  padding: 0;
  max-width: 246px;
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    padding-top: 73px;
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 604px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    grid-row: 1;
    grid-column: 1/span2;
    padding-left: 16px;
    padding-top: 50px;
  }
}