.header {
  margin: 0 auto;
  padding: 45px 0 41px 200px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 48px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px 0 70px 27px;
    max-width: 288px;
  }
}

.avatar{
    display: grid;
}

.profile__photo {
    border-radius: 100px;
    max-width: 168.75px;
    min-height: 127.5px;
}

.profile-info{
    display: flex;
}

.profile__name{
    max-width: 294px;
    min-height: 39px;
    padding-top: 25px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
}

.profile__description{
    max-width: 336px;
    min-height: 18px;
    padding-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.gallery__cards {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.gallery__cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  position: relative;
  padding: 0 20px 30px 21px;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}

.gallery__img{
  width: 100%;
  min-height: 282px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  overflow: hidden;
}

.like{
  position: absolute;
  min-height: 19px;
  max-width: 22px;
  padding: 30px 15px 30px 224px;
}