.profile{
    margin: 4px auto;
    padding-top: 37px;
    display: flex;
    max-width: 880px;
  }
  
  @media screen and (max-width: 620px) {
    .profile {
      max-width: 282px;
      flex-direction: column;
      justify-content: center;
    }
  }