.header {
  margin: 0 auto;
  padding: 45px 0 0 200px;
  max-width: 1184px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 320px) {
  .header {
    padding: 28px 0 0 27px;
  }
}
