.gallery__like {
  min-height: 19px;
  max-width: 22px;
  object-fit: contain;
  background: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center center;
  background-size: 22px;
  object-fit: contain;
}

.gallery__like:hover {
  opacity: 0.5;
  transition: 1s linear 0.5s;
}

.gallery__like:active {
  background-image: url(../../../images/like-active.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  object-fit: contain;
  min-height: 22px;
  max-width: 22px;
  opacity: 1;
}
