.profile__edit-button_pen {
    width: 10px;
    height: 10px;
    padding: 7px 6px 0 8px;
  }
  
  @media screen and (max-width: 620px) {
    .profile__edit-button_pen {
      width: 7px;
      height: 7px;
      padding: 6px 10px 0 0px;
    }
  }
  
  .profile__edit-button_pen:hover {
    opacity: .6;
    transition: 1s linear 0.5s;
  }