.profile__description {
  margin: 0;
  padding-top: 10px;
  max-width: 336px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-align: start;
}

@media screen and (max-width: 880px) {
  .profile__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 7px;
    margin-left: 17px;
  }
}