.profile__description {
    margin: 0;
    max-width: 336px;
    min-height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: start;
    padding-top: 12px;
}

@media screen and (max-width: 320px) {
    .profile__description {

        max-width: 282px;
        min-height: 14px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-top: 7px;
    }
}