.subtitle {
    max-width: 358px;
    min-height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 620px) {
    .subtitle {
      max-width: 238px;
    }
  }