.profile__info{
    width: 336px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 32px;
    margin-top: 26px;
}


@media screen and (max-width: 320px) {
.profile__info {
    padding-left: 0px;
}
}