.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 67px 0 60px 200px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 36px;
    min-width: calc((100% - 69px)/2);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 1px;
    padding-left: 18px;
  }
}